@model Company
@{
    ViewData["Title"] = "Buscar";
}

<style>
    #alertMessage {
        display: none;
        color: red;
    }
</style>

<div class="col-md-6 mx-auto">
    <label class="form-label">Insira um CNPJ válido</label>
    <form class="input-group" method="get" asp-controller="Home" asp-action="SearchCompany">
        <input type="number" class="form-control" placeholder="CNPJ" aria-label="input de CNPJ" maxlength="14"
            name="cnpj" id="inputForm">
        <button type="submit" class="btn btn-primary" id="btnSubmit" disabled>Buscar</button>
    </form>
    <p id="alertMessage"></p>
</div>

<script>
    const input = document.querySelector("#inputForm");
    const btn = document.querySelector("#btnSubmit");
    const alert = document.querySelector("#alertMessage");

    input.addEventListener("input", () => {
        const cnpj = input.value;
        if (cnpj.length === 14) {
            btn.disabled = false;
            alert.style.display = "none";
        } else {
            btn.disabled = true;
            alert.style.display = "block";
            alert.textContent = "CNPJ inválido: precisa de 14 números";
        }
    });

    /* Requisição AJAX mal sucedida
    btn.addEventListener("click", () => {
        const cnpj = input.value;
        const xhr = new XMLHttpRequest();
        xhr.open("GET", `https://receitaws.com.br/v1/cnpj/${cnpj}`, true);
        xhr.onreadystatechange = () => {
            if(xhr.readyState === 4 && xhr.status === 200) {
                if (companyResponse.nome) {
                    window.location.href = `/SearchCompany?company=${encodeURIComponent(xhr.responseText)}`;
                } else {
                    console.log("CNPJ inválido");
                }
            }
        }
        xhr.send();
    })
    */
</script>