@model Company
@{
    ViewData["Title"] = "Buscar";
}

<div class="col-md-6 mx-auto">
    <form method="get" class="input-group" asp-controller="Home" asp-action="SearchCompany" id="form">
        <input type="number" class="form-control" placeholder="CNPJ" aria-label="input de CNPJ" maxlength="14"
            name="cnpj" id="inputForm">
        <button type="submit" class="btn btn-primary" id="btnSubmit" disabled>Buscar</button>
    </form>
    <p style="display: none;" id="alertMessage"></p>
</div>

<script>
    const form = document.querySelector("#form");
    const input = document.querySelector("#inputForm");
    const btn = document.querySelector("#btnSubmit");
    const alert = document.querySelector("#alertMessage");

    input.addEventListener("input", () => {
        const cnpj = input.value;
        if (cnpj.length === 14) {
            btn.disabled = false;
            alert.style.display = "none";
        } else {
            btn.disabled = true;
            alert.style.display = "block";
            alert.textContent = "CNPJ inválido: precisa de 14 números";
        }
    });
</script>